
#raiden{
  width: 65%
}

body{
  background-color:#F2EFFB
}

nav li{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #DDA0DD
}
nav a:hover{
  color: #7B68EE;
  font-size: 35px;
  left: 40%;
}
header {
  background: #663366
  font: 8px
}

h1{
  font-family: cursive;
  font-size: 60px

}
h2{
  font-family: cursive;
  font-size: 50px
}
h3{
  font-family: cursive;
  font-size: 50px
}
.paginaprincipla{
  text-align: center;
}
header{
  background-color: #8F8FBD;
  text-align: center;
